# AutoCleaner Pro - Dépendances Python

# Interface graphique moderne
customtkinter>=5.2.0  # Modern UI

# Notifications système
winotify>=1.1.0

# Icône système
pystray>=0.19.4
Pillow>=9.0.0

# Gestion des processus système
psutil>=5.9.0

# Windows API
pywin32>=306


# Requêtes HTTP (Feedback)
requests>=2.31.0
